<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="frmCreateUser" action="<%= generateUrl('admin.university.store') %>" method="POST">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>University Name</label>
								<input type="text" name="university_name" id="university_name" class="form-control required" required placeholder="Enter University Name">
							</div>
							<div class="col-lg-6">
								<label>Registration Number</label>
								<input type="text" name="registration_no" id="registration_no" class="form-control required" required placeholder="Enter Registration Number" maxlength="15" minlength="8">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Address</label>
								<input type="text" name="address" id="address" class="form-control required" required placeholder="Enter Address">
							</div>
							<div class="col-lg-6">
								<label>City</label>
								<input type="text" name="city" id="city" class="form-control required" required placeholder="Enter City">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>State</label>
								<input type="text" name="state" id="state" class="form-control required" required placeholder="Enter State">
							</div>
							<div class="col-lg-3">
								<label>Country</label>
								<select name="country" id="country" class="form-control required" required>
									<option value="">Select</option>
									<% for (var i=0;i<country.length;i++) { %>
										<option value="<%= country[i]._id %>"><%= country[i].country_name%></option>
										<%
									}
									%>
								</select>
							</div>
							<div class="col-lg-3">
								<label>Postal Code</label>
								<input type="text" name="postal_code" id="postal_code" minlength="4" class="form-control required" required placeholder="Enter Postal Code">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Email ID</label>
								<input type="email" name="email" id="email" class="form-control required" required placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
							</div>
							<div class="col-lg-6">
								<label>Password</label>
								<input type="text" name="password" id="password" class="form-control required" required placeholder="Enter Password">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Phone Number</label>
								<input type="text" name="phone" id="phone" minlength="10" class="form-control required" required placeholder="Enter Phone">
							</div>
							<div class="col-lg-6">
								<label>Website</label>
								<input type="text" name="website" id="website" class="form-control required" required placeholder="Enter Website" pattern="^((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$">
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<a href="<%= generateUrl('admin.university.list') %>" class="btn btn-secondary">Cancel</a>
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>