<% layout(layout_directory+'/mainLayout') -%>

    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Create Permission</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home"></i>&nbsp;
                <a href="<%= generateUrl('admin.user.dashboard')%>">Home</a>&nbsp;&nbsp;
                <i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Create Permission</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">Create Permission</div>
                    <div class="panel-body pan">
                        <form action="<%= generateUrl('permission.store')%>" method="post" class="form-validate">
                            <div class="form-body pal">
                               <div class="form-group">
                                    <label for="permission" class="control-label">Permission</label>
                                    <div class="input-icon right">
                                        <input id="permission" name="permission" type="text" placeholder="Enter Permision" class="form-control required" value=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="operation" class="control-label">Operation</label>
                                        <div class="input-icon right">
                                            <input id="operation" name="operation" type="text" placeholder="Enter Operation" class="form-control required" value=""/>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="displayName" class="control-label">Display Name</label>
                                        <div class="input-icon right">
                                            <input id="displayName" name="displayName" type="text" placeholder="Enter Display Name" class="form-control required" value=""/>
                                        </div>
                                </div>
                               <div class="form-group">
                                        <label for="description" class="control-label">Description</label>
                                        <div class="input-icon right">
                                                <input id="description" name="description" type="text" placeholder="Enter Description" class="form-control required" value=""/>
                                        </div>
                                </div>
                                
                            </div>
                            <div class="form-actions text-right pal">
                                
                                <button type="submit" class="btn btn-primary">Save Permission</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>