<% layout(layout_directory+'/mainLayout') -%>

    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Update Driver</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home"></i>&nbsp;
                <a href="<%= generateUrl('admin.user.dashboard')%>">Home</a>&nbsp;&nbsp;
                <i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Update Driver</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">Update Driver</div>
                    <div class="panel-body pan">
                        <form action="<%= generateUrl('driver.update')%>" method="post" class="form-validate">
                            <div class="form-body pal">
                               <div class="form-group">
                                    <label for="first_name" class="control-label">First Name</label>
                                    <div class="input-icon right">
                                        <input id="first_name" name="first_name" type="text" placeholder="Enter First Name" class="form-control required" value="<%= response.data.first_name %>"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="last_name" class="control-label">Last Name</label>
                                        <div class="input-icon right">
                                            <input id="last_name" name="last_name" type="text" placeholder="Enter Last Name" class="form-control required" value="<%= response.data.last_name %>"/>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="email" class="control-label">Email</label>
                                        <div class="input-icon right">
                                            <input id="email" name="email" type="text" placeholder="Enter Email" class="form-control required" value="<%= response.data.email %>"/>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="email" class="control-label">Contact</label>
                                        <div class="input-icon right">
                                                <input id="contact" name="contact" type="text" placeholder="Enter Contact" class="form-control required" value="<%= response.data.contact %>"/>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="email" class="control-label">Address</label>
                                        <div class="input-icon right">
                                                <input id="address" name="address" type="text" placeholder="Enter Address" class="form-control required" value="<%= response.data.address %>"/>
                                        </div>
                                </div>
                                
                            </div>
                            <div class="form-actions text-right pal">
                                <input type="hidden" name="uid" value="<%= response.data._id%>">
                                <button type="submit" class="btn btn-primary">Update Driver</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>