<% layout(layout_directory+'/mainLayout') -%>

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">Permissions List</div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li>
            <i class="fa fa-home"></i>&nbsp;
            <a href="<%= generateUrl('admin.user.dashboard')%>">Home</a>&nbsp;&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Permissions</li>
    </ol>
    <div class="clearfix"></div>
</div>
<div class="page-content">
        <div class="row">
                <div class="col-lg-12">
                        
                        <form method="POST" action="<%= generateUrl('permission.update')%>" accept-charset="UTF-8" class="form-validate" novalidate="novalidate">
                        <div class="panel panel-green">
                                <div class="panel-heading">Permissions List For (<%=response.role_info.roleDisplayName%>)</div>
                                <div class="panel-body">
                                        <div class="table-responsive">
                                               <table class="table table-striped table-hover">
                                                    <tbody>
                                                        <% if(response.data){ %>
                                                        <% for(var i=0; i< response.data.length; i++) { %>
                                                         <tr><td><strong><%= utils.humanize(response.data[i]._id) %></strong></td></tr> 
                                                         <tr>
                                                         <% for(var y=0; y< response.data[i].permission_list.length; y++) { %>
                                                            <td>
                                                                <%= response.data[i].permission_list[y].displayName %>&nbsp;<input type="checkbox" value="<%= response.data[i].permission_list[y]._id %>" name="permissionall[]" <%=(response.data[i].permission_list[y].is_access)?"CHECKED":"" %> >
                                                            </td>
                                                          <% } %>
                                                        </tr>
                                                        <% }%>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                                
                                                
                                        </div>
                                </div>
                                <div class="form-actions text-right pal">
                                        <input type="hidden" name="role" value="<%=response.role_info._id%>">
                                        <button type="submit" class="btn btn-primary">Save Permission</button>
                                </div>
                        </div>
                        
                    </form>
                </div>
        </div>

</div>