<table border="0" cellpadding="0">
	<tr>
		<td><img src="http://111.93.167.180:1403/logos/logo.png"></td> 
	</tr>
	<tr>
		<td>Hello  <%=first_name%>,<br> You have invited to our university.<br><br></td>
	</tr>
	<tr>
		<td>Please click on the below link to go to the university page</td>
	</tr>
	<tr>
		<td>University Name : <%=university_name%></td>
	</tr>
	<tr>
		<td><a href="<%=invitation_link%>"><%=invitation_link%></a></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>  
	<tr><td>&nbsp;</td></tr>
	<tr><td>Thank you</td></tr>
</table>