<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<a href="<%= generateUrl('admin.user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="frmEditAuthor" action="<%= generateUrl('admin.setting.update') %>" method="POST">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-12">
								<label>Setting Field</label>
								<input type="text" name="setting_name" id="setting_name" class="form-control" placeholder="Enter Setting Field" value="<%= response.setting_data.setting_name%>">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12">
								<label>Setting Value</label>
								<textarea name="setting_value" id="setting_value" class="form-control" placeholder="Enter Setting Value"><%= response.setting_data.setting_value%></textarea>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<input type="hidden" name="id" value="<%= response.setting_data._id%>">
									<button type="submit" class="btn btn-primary">Update</button>
									<a href="<%= generateUrl('admin.setting.list') %>" class="btn btn-secondary">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>