<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
          
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="addPromocodeFrm" action="<%= generateUrl('admin.promocode.store') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Code:</label>
                                <input type="text" name="code" id="code" class="form-control" placeholder="Enter Code" value="">
							</div>
                        </div>
                        <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Value:</label>
                                    <input type="text" name="value" id="value" class="form-control" placeholder="Enter Value" value="">
                                </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Expiry Date:</label>
                                    <input type="text" name="expiry_date" id="expiry_date" class="form-control" placeholder="Enter Expiry Date" value="" readonly>
                                </div>
                        </div>
						<div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Description:</label>
                                    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                                </div>
                        </div>
					</div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="<%= generateUrl('admin.promocode.list') %>" class="btn btn-secondary">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
// For date picker calendar
$(function () {
    var date = new Date();
    date.setDate(date.getDate()-1);
    $('#expiry_date').datepicker({
     autoclose: true,
     todayHighlight: true,
     format: 'yyyy-mm-dd',
     startDate: date
    });
});
</script>