<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
          
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="editReportFrm" action="<%= generateUrl('admin.report.update') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Title:</label>
                                <input type="text" name="title" id="title" class="form-control" placeholder="Enter Code" value="<%= response.report_data.title%>">
							</div>
                        </div>
                        <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Content:</label>
                                    <textarea class="form-control" name="description" id="description" rows="3"><%=response.report_data.description%></textarea>
                                </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Status:</label>
                                <select class="form-control" id="status" name="status">
                                    <option value="New" <%=(response.report_data.status == 'New')?"selected":""%>>New</option>
                                    <option value="Open" <%=(response.report_data.status == 'Open')?"selected":""%>>Open</option>
                                    <option value="Solved" <%=(response.report_data.status == 'Solved')?"selected":""%>>Solved</option>
                                </select>
                            </div>
                        </div>
					</div>
                    <!-- hidden user id -->
                    <input type="hidden" name="report_id" value="<%=response.report_data._id%>">
                    
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="<%= generateUrl('admin.report.list') %>" class="btn btn-secondary">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // For date picker calendar
    $(function () {
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('#expiry_date').datepicker({
         autoclose: true,
         todayHighlight: true,
         format: 'yyyy-mm-dd',
         startDate: date
        });
    });
    </script>