<!-- begin:: Aside -->
<button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

	<!-- begin:: Aside -->
	<div class="kt-aside__brand kt-grid__item  " id="kt_aside_brand">
		<div class="kt-aside__brand-logo">
			<a href="<%= generateUrl('admin.user.dashboard') %>">
				<img alt="Logo" src="/logos/A-white.png" style="max-width: 70px;" />
			</a>
		</div>
	</div>
	<!-- end:: Aside -->

	<!-- begin:: Aside Menu -->
	<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
		<div id="kt_aside_menu" class="kt-aside-menu  kt-aside-menu--dropdown" data-ktmenu-vertical="0" data-ktmenu-dropdown="1" data-ktmenu-scroll="0">
			<ul class="kt-menu__nav ">
				<li class="kt-menu__item  <%=(page_name == 'user-dashboard') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
					<a href="<%= generateUrl('admin.user.dashboard') %>" class="kt-menu__link ">
						<i class="fa fa-signal"></i>
						<span class="kt-menu__link-text">Dashboard</span>
					</a>
				</li>
				<li class="kt-menu__item  <%=(page_name == 'setting-management') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
					<a href="<%= generateUrl('admin.setting.list') %>" class="kt-menu__link ">
						<i class="fa fa-cogs"></i>
						<span class="kt-menu__link-text">Settings</span>
					</a>
				</li>
				<!--<li class="kt-menu__item  <%=(page_name == 'users-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
					<a href="<%= generateUrl('admin.users',{type:"admin"}) %>" class="kt-menu__link ">
						<i class="fa fa-user-circle"></i>
						<span class="kt-menu__link-text">Admin User</span>
					</a>
				</li>
			<li class="kt-menu__item  <%=(page_name == 'mentor-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.users',{type:"mentor"}) %>" class="kt-menu__link ">
			<i class="fa fa-user"></i>
			<span class="kt-menu__link-text">Mentor</span>
			</a>
			</li>
			<li class="kt-menu__item  <%=(page_name == 'student-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.users',{type:"student"}) %>" class="kt-menu__link ">
			<i class="fa fa-user-plus"></i>
			<span class="kt-menu__link-text">Student</span>
			</a>
			</li>-->
<!--			<li class="kt-menu__item  <%=(page_name == 'language-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.language.list') %>" class="kt-menu__link ">
			<i class="fa fa-american-sign-language-interpreting "></i>
			<span class="kt-menu__link-text">Language</span>
			</a>
			</li>
-->			<!--<li class="kt-menu__item  <%=(page_name == 'university-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
				<a href="<%= generateUrl('admin.university.list') %>" class="kt-menu__link ">
					<i class="fa fa-university"></i>
					<span class="kt-menu__link-text">University</span>
				</a>
			</li>
			<li class="kt-menu__item  <%=(page_name == 'invite-university') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
				<a href="<%= generateUrl('admin.university.invite') %>" class="kt-menu__link ">
					<i class="fa fa-underline"></i>
					<span class="kt-menu__link-text">Invite University</span>
				</a>
			</li>-->
			
			<li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'users-list' || page_name == 'mentor-list' || page_name == 'student-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true"data-ktmenu-submenu-toggle="hover">
				<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
					<i class="fa fa-user-circle"></i>
					<span class="kt-menu__link-text">User</span>
				</a>
				<div class="kt-menu__submenu ">
					<span class="kt-menu__arrow"></span>
					<ul class="kt-menu__subnav">
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.users',{type:"admin"}) %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Admin</span>
							</a>
						</li>
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.users',{type:"mentor"}) %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Mentor</span>
							</a>
						</li>
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.users',{type:"student"}) %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Student</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			
			
			
			<li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'university-list' || page_name == 'invite-university') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true"data-ktmenu-submenu-toggle="hover">
				<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
					<i class="fa fa-university"></i>
					<span class="kt-menu__link-text">University</span>
				</a>
				<div class="kt-menu__submenu ">
					<span class="kt-menu__arrow"></span>
					<ul class="kt-menu__subnav">
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.university.list') %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">List</span>
							</a>
						</li>
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.university.invite') %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Invite University</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'language-list' || page_name == 'country-list' || page_name == 'course-list' || page_name == 'faq-list' || page_name == 'edulevel-list' || page_name == 'want_to-list' || page_name == 'package-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true"data-ktmenu-submenu-toggle="hover">
				<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
					<i class="fa fa-plus-square"></i>
					<span class="kt-menu__link-text">Master</span>
				</a>
				<div class="kt-menu__submenu ">
					<span class="kt-menu__arrow"></span>
					<ul class="kt-menu__subnav">
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.language.list') %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Language</span>
							</a>
						</li>
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.country.list') %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Country</span>
							</a>
						</li>
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.course.list') %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Course</span>
							</a>
						</li>
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.edulevel.list') %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Education</span>
							</a>
						</li>
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.want_to.list') %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Want To</span>
							</a>
						</li>
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.package.list') %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Package</span>
							</a>
						</li>
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.school.list') %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">School</span>
							</a>
						</li>
						<li class="kt-menu__item " aria-haspopup="true">
							<a href="<%= generateUrl('admin.faq.list') %>" class="kt-menu__link ">
								<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
								<span class="kt-menu__link-text">Faq</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			
			
			
<!--			<li class="kt-menu__item  <%=(page_name == 'country-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.country.list') %>" class="kt-menu__link ">
			<i class="fa fa-flag"></i>
			<span class="kt-menu__link-text">Country</span>
			</a>
			</li>
-->			
<!--			<li class="kt-menu__item  <%=(page_name == 'course-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.course.list') %>" class="kt-menu__link ">
			<i class="fa fa-book"></i>
			<span class="kt-menu__link-text">Course</span>
			</a>
			</li>
-->			
		<!--	<li class="kt-menu__item  <%=(page_name == 'edulevel-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.edulevel.list') %>" class="kt-menu__link ">
			<i class="fa fa-bookmark"></i>
			<span class="kt-menu__link-text">Education</span>
			</a>
			</li>-->
			
			<!--<li class="kt-menu__item  <%=(page_name == 'want_to-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.want_to.list') %>" class="kt-menu__link ">
			<i class="fa fa-magnet"></i>
			<span class="kt-menu__link-text">Want To</span>
			</a>
			</li>-->
			
			<!--<li class="kt-menu__item  <%=(page_name == 'report-management') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.report.list') %>" class="kt-menu__link ">
			<i class="kt-menu__link-icon flaticon-envelope"></i>
			<span class="kt-menu__link-text">Report</span>
			</a>
			</li>-->
			<li class="kt-menu__item  <%=(page_name == 'cms-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.cms.list') %>" class="kt-menu__link ">
			<i class="fa fa-map-signs"></i>
			<span class="kt-menu__link-text">CMS</span>
			</a>
			</li>

			<li class="kt-menu__item  <%=(page_name == 'contactus-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.contactus.list') %>" class="kt-menu__link ">
			<i class="fa fa-map-signs"></i>
			<span class="kt-menu__link-text">ContactUs</span>
			</a>
			</li>

			<!--<li class="kt-menu__item  <%=(page_name == 'package-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
			<a href="<%= generateUrl('admin.package.list') %>" class="kt-menu__link ">
			<i class="fa fa-plus-square"></i>
			<span class="kt-menu__link-text">Package</span>
			</a>
			</li>-->
			<li class="kt-menu__item  <%=(page_name == 'support-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
				<a href="<%= generateUrl('admin.support.list') %>" class="kt-menu__link ">
					<i class="fa fa-envelope"></i>
					<span class="kt-menu__link-text" style="text-align: center;">Support Query</span>
				</a>
			</li>
			<li class="kt-menu__item  <%=(page_name == 'booked-demo-list') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true">
				<a href="<%= generateUrl('admin.booked-demo.list') %>" class="kt-menu__link ">
					<i class="fa fa-laptop"></i>
					<span class="kt-menu__link-text" style="text-align: center;">Booked Demo</span>
				</a>
			</li>
						
			<!-- end section booster -->
			</ul>
		</div>
	</div>

    <!-- end:: Aside Menu -->
</div>

<!-- end:: Aside -->