<% layout(layout_directory+'/mainLayout') -%>


<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('admin.user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body collapse show">
                <div class="card-block">
                    <form role="search" method="GET" action="<%= generateUrl('cms.list')%>" accept-charset="UTF-8"
                        class="form-validate mt-2" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="position-relative has-icon-right">
                                    <input class="form-control round" placeholder="Enter The Keyword" name="keyword"
                                        value="<%=postdata.keyword%>" type="text">
                                    <div class="form-control-position">
                                        <i class="ft-search"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4 text-right">
                                <input value="Search" class="btn btn-danger" type="submit">
                                <a href="<%= generateUrl('cms.list')%>" class="btn btn-success">View All</a>

                            </div>
                        </div>
                    </form>

                    <table class="table table-striped table-bordered add-rows">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(response.data.length>0){ %>
                            <% for(var i=0; i< response.data.length; i++) { %>
                            <tr>
                                <td>
                                    <%= utils.ifBlankThenNA(response.data[i].title) %>
                                </td>
                                <td>
                                    <%- utils.ifBlankThenNA(response.data[i].desc) %>
                                </td>
                                <td>
                                    <a href="<%= generateUrl('cms.edit',{id: response.data[i]._id}) %>"
                                        class="success p-0" data-original-title="Update" title="Update">
                                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                    </a>

                                </td>
                            </tr>
                            <% } %>
                            <% }else{ %>
                            <tr>
                                <td colspan="5">
                                    <center>No Record Found</center>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <%- partial(partial_directory+'/pagination.ejs')%>
                </div>
            </div>
        </div>


    </div>
</div>