<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="frmCreateFaq" action="<%= generateUrl('admin.faq.update') %>" method="POST">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-12">
								<label>Title</label>
								<input type="text" name="title" id="title" class="form-control required" required placeholder="Enter Course Name" value="<%= response.faq_data.title %>">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12">
								<label>Content</label>
								<textarea name="content" id="content" class="form-control" rows="10" placeholder="Enter Content"><%= response.faq_data.content %></textarea>
							</div>
						</div>
					</div>
					<!-- hidden user id -->
					<input type="hidden" name="faq_id" value="<%=response.faq_data._id%>">
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<a href="<%= generateUrl('admin.faq.list') %>" class="btn btn-secondary">Cancel</a>
									<button type="submit" class="btn btn-primary">Update</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>