<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="frmCreateUser" action="<%= generateUrl('admin.course.store') %>" method="POST">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Course Name</label>
								<input type="text" name="course_name" id="course_name" class="form-control required" required placeholder="Enter Course Name">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Education Level</label>
								<select name="education" id="education" class="form-control required" required>
									<option value="">Select</option>
									<% for (var i=0;i<education.length;i++) { %>
										<option value="<%= education[i]._id %>"><%= education[i].level_name%></option>
										<%
									}
									%>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>University</label>
								<select name="university" id="university" class="form-control required" required>
									<option value="">Select</option>
									<% for (var i=0;i<university.length;i++) { %>
										<option value="<%= university[i]._id %>"><%= university[i].university_name%></option>
										<%
									}
									%>
								</select>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<a href="<%= generateUrl('admin.course.list') %>" class="btn btn-secondary">Cancel</a>
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>