<table border="0" cellpadding="0">
	<tr>
		<td>Your Details</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td><%= name%></td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>:</td>
		<td><%= phone%></td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td><%= email%></td>
	</tr>
	<tr>
		<td>Message</td>
		<td>:</td>
		<td><%= message%></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>  
	<tr><td>&nbsp;</td></tr>
	<tr><td>Thank you</td></tr>
</table>