<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="frmCreateUser" action="<%= generateUrl('admin.package.store') %>" method="POST">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-12">
								<label>Package Name</label>
								<input type="text" name="package_name" id="package_name" class="form-control required" required placeholder="Enter Package Name">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12">
								<label>Package Price (&#163;)</label>
								<input type="text" name="package_price" id="package_price" class="form-control required" required placeholder="Enter Package Price" onkeypress="return validCheck(event);">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12">
								<label>Package Description</label>
								<textarea name="package_description" id="package_description" class="form-control required" placeholder="Enter Package Description" rows="7"></textarea>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<a href="<%= generateUrl('admin.package.list') %>" class="btn btn-secondary">Cancel</a>
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
function validCheck(e) {
	var keyCode = (e.which) ? e.which : e.keyCode;
	if ((keyCode >= 48 && keyCode <= 57) || (keyCode == 8))
		return true;
	else if (keyCode == 46) {
		var curVal = document.activeElement.value;
		if (curVal != null && curVal.trim().indexOf('.') == -1)
			return true;
		else
			return false;
	}
	else
		return false;
}
</script>