
 <% layout(layout_directory+'/mainLayout') -%>
     <div class="page-content">
            <div class="row">
                <% if(user) { %>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-tooltip">Change Password</h4>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                    <form action="<%= generateUrl('admin.updateAdminPassword')%>" method="post" class="form" novalidate>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="user_name" class="control-label">Old Password</label>
                                                <div class="input-icon right controls">
                                                    <input id="old_password" name="old_password" type="password" placeholder="Enter Old Password"  class="form-control" value="" required data-validation-required-message="This field is required"/>
                                                </div>
                                            </div>
    
                                            
                                        </div>
    
                                          <div>
                                                 <div class="form-group col-md-6">
                                                    <label for="user_name" class="control-label">New Password</label>
                                                    <div class="input-icon right controls">
                                                        <input id="password" name="password" type="password" placeholder="Enter New Password" class="form-control required" value="" required data-validation-required-message="This field is required" />
                                                    </div>
                                            </div>
                                          </div>
    
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="user_name" class="control-label">Confirm Password</label>
                                                <div class="input-icon right controls">
                                                    <input id="password_confirm" name="password_confirm" type="password" placeholder="Enter Confirm Password" class="form-control" data-validation-match-match="password" data-validation-match-message="Password doesn't match" value="" />
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="form-actions">
                                            <a href="<%= generateUrl('admin.user.dashboard')%>" class="btn btn-raised btn-raised btn-warning mr-1">
                                                <i class="ft-x"></i> Cancel
                                            </a>
    
                                            <input id="_id" type="hidden" name="id" value="<%= user.id %>" />
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>