<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="frmCreateUser" action="<%= generateUrl('admin.user.store') %>" method="POST">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Full Name:</label>
								<input type="text" name="full_name" id="full_name" class="form-control required" required placeholder="Enter Full Name" pattern="[a-zA-Z]+([\s][a-zA-Z]+)*">
							</div>
							<div class="col-lg-6">
								<label>Email:</label>
								<input type="text" name="email" id="email" class="form-control" placeholder="Enter Email">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Gender:</label>
								<select name="gender" id="gender" class="form-control kt-selectpicker" data-live-search="true" title="Choose one of the following...">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
							<div class="col-lg-6">
								<label>Phone:</label>
								<input type="text" name="phone" id="phone" minlength="10" maxlength="15" class="form-control" placeholder="Enter Phone">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Password:</label>
								<input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
							</div>
							<div class="col-lg-6">
								<label>Confirm Password:</label>
								<input type="password" name="confirm_password" id="confirmPassword" class="form-control" placeholder="Enter Confirm Password">
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<a href="<%= generateUrl('admin.users',{type:"admin"}) %>" class="btn btn-secondary">Cancel</a>
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	//$(document).ready(function(){
	//	//alert("AA");
	//	$('#full_name').keypress(function(event){
	//		//get envent value       
	//		var inputValue = event.which; alert(inputValue);
	//		// check whitespaces only.
	//		if(inputValue == 32){
	//			return true;    
	//		}
	//		// check number only.
	//		if(inputValue == 48 || inputValue == 49 || inputValue == 50 || inputValue == 51 || inputValue == 52 || inputValue == 53 ||  inputValue ==  54 ||  inputValue == 55 || inputValue == 56 || inputValue == 57){
	//			return true;
	//		}
	//		// check special char.
	//		if(!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) { 
	//			event.preventDefault(); 
	//		}
	//	});
	//});
</script>