<% layout(layout_directory+'/mainLayout') -%>
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"><%= page_title %></h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
	</div>
	<div class="kt-subheader__toolbar"></div>
</div>
<!-- end:: Content Head -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__body dashboard-sec">
			<div class="row">
				

				<div class="col-lg-3 users">
					<div class="kt-portlet kt-portlet--mobile" id="managersCount">
						<div class="kt-portlet__head">
							<div class="kt-portlet__head-label">
								<i class="fa fa-user-circle" style="font-size:40px;"></i>&nbsp;&nbsp;
								<h3 class="kt-portlet__head-title">University Applicants</h3>
							</div>
						</div>
						<div class="kt-portlet__body" style="font-size:25px;color:red;"><%= userC%></div>
					</div>
				</div>
				<div class="col-lg-3 mentor">
					<div class="kt-portlet kt-portlet--mobile" id="assistantsCount">
						<div class="kt-portlet__head">
							<div class="kt-portlet__head-label">
								<i class="fa fa-user" style="font-size:40px;"></i>&nbsp;&nbsp;
								<h3 clas="kt-portlet__head-title">Mentors</h3>
							</div>
						</div>
						<div class="kt-portlet__body" style="font-size:25px;color:grey;"><%= mentor%></div>
					</div>
				</div>
				<div class="col-lg-3 university">
					<div class="kt-portlet kt-portlet--mobile" id="assistantsCount">
						<div class="kt-portlet__head">
							<div class="kt-portlet__head-label">
								<i class="fa fa-university" style="font-size:40px;"></i>&nbsp;&nbsp;
								<h3 clas="kt-portlet__head-title">Universities</h3>
							</div>
						</div>
						<div class="kt-portlet__body" style="font-size:25px;color:brown;"><%= university%></div>
					</div>
				</div>
				<div class="col-lg-3 country">
					<div class="kt-portlet kt-portlet--mobile" id="customersCount">
						<div class="kt-portlet__head">
							<div class="kt-portlet__head-label">
								<i class="fa fa-flag" style="font-size:40px;"></i>&nbsp;&nbsp;
								<h3 clas="kt-portlet__head-title">Countries</h3>
							</div>
						</div>
						<div class="kt-portlet__body" style="font-size:25px;color:green;"><%= country%></div>
					</div>
				</div>
				<!--
				<div class="col-lg-3 language">
					<div class="kt-portlet kt-portlet--mobile" id="boostersCount">
						<div class="kt-portlet__head">
							<div class="kt-portlet__head-label">
								<i class="fa fa-american-sign-language-interpreting" style="font-size:40px;"></i>&nbsp;&nbsp;
								<h3 clas="kt-portlet__head-title">Language</h3>
							</div>
						</div>
						<div class="kt-portlet__body" style="font-size:25px;color:blue;"><%= language%></div>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="transactionDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="transactionDetailTitle">Transaction Detail</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div id="transactionDetailBody" class="modal-body text-center">
				<div class="kt-spinner kt-spinner--lg kt-spinner--dark"></div>
			</div>
		</div>
	</div>
</div>
<script>
	var fileref=document.createElement('script')
	fileref.setAttribute("type","text/javascript")
	fileref.setAttribute("src", "/assets/app/custom/general/dashboard.js");
	document.getElementsByTagName("body")[0].appendChild(fileref);
</script>