<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>
<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="editUserFrm" action="<%= generateUrl('admin.user.update') %>" method="POST">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Full Name:</label>
								<input type="text" name="full_name" id="firstName" class="form-control" placeholder="Enter Full Name" value="<%= response.full_name%>">
							</div>
							<div class="col-lg-6">
								<label>Email:</label>
								<input type="text" name="email" id="email" class="form-control" placeholder="Enter Email" value="<%=response.email%>" readonly>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Gender:</label>
								<select name="gender" id="gender" class="form-control kt-selectpicker" data-live-search="true" title="Choose one of the following...">
									<option value="Male" <%=response.gender=="Male"?'selected': ''%>>Male</option>
									<option value="Female" <%=response.gender=="Female"?'selected': ''%>>Female</option>
								</select>
							</div>
							<div class="col-lg-6">
								<label>Phone:</label>
								<input type="text" name="phone" id="phone" minlength="10" maxlength="15" class="form-control" placeholder="Enter Phone Number" value="<%=response.phone%>">
							</div>
						</div>
					</div>
					<!-- hidden user id -->
					<input type="hidden" name="user_id" value="<%=response._id%>">	
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<a href="<%= generateUrl('admin.users',{type:"admin"}) %>" class="btn btn-secondary">Cancel</a>
									<button type="submit" class="btn btn-primary">Update</button>	
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>