<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>
<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="editUserFrm" action="" method="POST">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Full Name:</label>
								<input type="text" class="form-control" value="<%= response.full_name%>" style="border:none;" readonly>
							</div>
							<div class="col-lg-6">
								<label>Email:</label>
								<input type="text" class="form-control" value="<%=response.email%>" style="border:none;" readonly>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Address:</label>
								<input type="text" class="form-control" value="<%= response.address%>" style="border:none;" readonly>
							</div>
							<% if (user_type == "mentor") {%>
								<div class="col-lg-6">
									<label>University Name:</label>
									<input type="text" class="form-control" value="<%=response.university_name%>" style="border:none;" readonly>
								</div>
								<%
							}
							else{%>
								<div class="col-lg-6">
									<label>School Name:</label>
									<input type="text" class="form-control" value="<%=response.school_name%>" style="border:none;" readonly>
								</div>
								<%
							}
							%>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Gender:</label>
								<input type="text" class="form-control" value="<%=response.gender%>" style="border:none;" readonly>
							</div>
							<div class="col-lg-6">
								<label>Phone:</label>
								<input type="text" class="form-control" value="<%=response.phone%>" style="border:none;" readonly>
							</div>
							
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Country:</label>
								<input type="text" class="form-control" value="<%=response.country%>" style="border:none;" readonly>
							</div>
							<div class="col-lg-6">
								<label>Education:</label>
								<input type="text" class="form-control" value="<%=response.education%>" style="border:none;" readonly>
							</div>
						</div>
						<div class="form-group row">
							<% if (user_type == "mentor") {%>
								<div class="col-lg-6">
									<label>Service:</label>
									<% var serviceName = response.service.map(function (item) {
										return item.name
									});%>
									<input type="text" class="form-control" value="<%=(serviceName!="")?serviceName:"NA"%>" style="border:none;" readonly>
								</div>
								<div class="col-lg-6">
									<label>Specialization:</label>
									<% var specialisationName = response.specialisation.map(function (item) {
										return item.title
									});%>
									<input type="text" class="form-control" value="<%=(specialisationName!="")?specialisationName:"NA"%>" style="border:none;" readonly>
								</div>
								<%
							}
							else{%>
								<div class="col-lg-6">
									<label>Project:</label>
									<% var projectName = response.project.map(function (item) {
										return item.project_name
									});%>
									<input type="text" class="form-control" value="<%=(projectName!="")?projectName:"NA"%>" style="border:none;" readonly>
								</div>
								<div class="col-lg-6">
									<label>Activities:</label>
									<% var activitiesName = response.activities.map(function (item) {
										return item.title
									});%>
									<input type="text" class="form-control" value="<%=(activitiesName!="")?activitiesName:"NA"%>" style="border:none;" readonly>
								</div>
								<%
							}
							%>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Short Description:</label>
								<textarea class="form-control" style="border:none;" readonly rows="5"><%=response.short_description%></textarea>
							</div>
							<% if (user_type == "student") {%>
								<div class="col-lg-6">
									<label>Want to:</label>
									<input type="text" class="form-control" value="<%=response.want_to%>" style="border:none;" readonly>
								</div>
								<%
							}
							%>
						</div>
					</div>
					<!-- hidden user id -->
					<input type="hidden" name="user_id" value="<%=response._id%>">
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<a href="<%= generateUrl('admin.users',{type:user_type}) %>" class="btn btn-secondary">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>